.attribution{
    color: #aaa3a6;
    text-decoration: none;
    float: right;
    padding-right: 12px;
}
.me{
    color: #aaa3a6;
    text-decoration: none;
    float: left;
    padding-left: 12px;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #1C2826;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: monospace;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-image: url("bg.jpg");
    background-repeat: repeat; 
    background-size: 300px 300px;
}

#catfact {
    background: #EEE5E9;
    padding: 20px 30px;
    max-width: 600px;
    border: 3px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 16px rgba(0,0,0,0.4);
    cursor: pointer;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 4px;
    background: #1C2826;
    color: #aaa3a6;
}